---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import Header from "./components/Header.astro";
import Photos from "./components/Photos.astro";
import Partners from "./components/Partners.astro";
import Contact from "./components/Contact.astro";
import Footer from "./components/Footer.astro";
import mockup1 from "../../img/celular-mockup.webp";
import mockup2 from "../../img/celularmockup2.webp";
---

<Layout title="Glinseal">
  <div id="loader-overflow">
    <div id="loader3">Please enable JS</div>
  </div>

  <div id="wrap" class="boxed">
    <div class="grey-bg">
      <Header />

      <div id="about" class="page-section p-110-cont">
        <div class="container">
          <div class="row">
            <div class="col-md-5 pb-40">
              <blockquote class="quote mb-0 pr-50-min-1169">
                <div class="col-md">
                  <div class="mb-20">
                    <h2 class="section-title">
                      O QUE É <span class="bold">GLINSEAL</span>?
                    </h2>
                  </div>
                </div>
              </blockquote>
            </div>

            <div class="col-md-7">
              <div class="row">
                <div class="col-md-6 col-sm-6 pb-10">
                  <div class="fes5-box wow fadeIn">
                    <h3>SEGURANÇA</h3>
                    <p>
                      Sed ut perspiciatis unde omnis iste nat eror acus antium
                      que
                    </p>
                  </div>
                </div>

                <div class="col-md-6 col-sm-6 pb-10">
                  <div class="fes5-box wow fadeIn" data-wow-delay="200ms">
                    <h3>ORIGINALIDADE</h3>
                    <p>
                      Sed ut perspiciatis unde omnis iste nat eror acus antium
                      que
                    </p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-sm-6 pb-10">
                  <div class="fes5-box wow fadeIn" data-wow-delay="400ms">
                    <h3>UNIQUE DESIGN</h3>
                    <p>
                      Sed ut perspiciatis unde omnis iste nat eror acus antium
                      que
                    </p>
                  </div>
                </div>

                <div class="col-md-6 col-sm-6 pb-10">
                  <div class="fes5-box wow fadeIn" data-wow-delay="600ms">
                    <h3>EASY TO CUSTOMIZE</h3>
                    <p>
                      Sed ut perspiciatis unde omnis iste nat eror acus antium
                      que
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <Photos />

      <Partners />

      <div id="work-process-link" class="page-section">
        <div class="container fes4-cont">
          <div class="row">
            <div class="col-md-7">
              <div class="mb-50">
                <h2 class="section-title">
                  WHAT IS A HIGH SECURITY <span class="bold"
                    >RFID 3-STATE SEAL</span
                  >?
                </h2>
              </div>
              <p class="mb-50">
                It is a seal that combines the high level of mechanical security
                offered by ISO17712: compliance ISO17712: 2013 compliance with
                the security of UHF RFID electronic UHF RFID electronic
                transmission for univocal serial identiﬁcation that is
                impossible to replicate.
              </p>
            </div>
            <div class="col-md-4">
              <img src="/images/coffee-bg.jpg" />
            </div>
          </div>
        </div>
      </div>

      <div class="page-section video-ads-bg">
        <div class="container">
          <div class="video-ads-text-cont clearfix">
            <span class="video-ads-text">RFID SEALS</span>
          </div>
        </div>
      </div>

      <div id="app-glinseal" class="page-section p-80-cont">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="mt-60 mb-80">
                <h2 class="section-title">
                  APP MOBILE<br />
                  <span class="bold">GLINSEAL</span>
                </h2>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="fes7-box mb-20 wow fadeIn">
                    <div class="fes7-box-icon">
                      <div class="icon icon-basic-mixer2"></div>
                    </div>
                    <h3>FULLY RESPONSIVE</h3>
                  </div>
                </div>

                <div class="col-md-6 col-sm-6">
                  <div class="fes7-box mb-20 wow fadeIn" data-wow-delay="200ms">
                    <div class="fes7-box-icon">
                      <div class="icon icon-basic-lightbulb"></div>
                    </div>
                    <h3>RETINA READY</h3>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="fes7-box mb-20 wow fadeIn" data-wow-delay="400ms">
                    <div class="fes7-box-icon">
                      <div class="icon icon-basic-helm"></div>
                    </div>
                    <h3>UNIQUE DESIGN</h3>
                  </div>
                </div>

                <div class="col-md-6 col-sm-6">
                  <div class="fes7-box mb-20 wow fadeIn" data-wow-delay="600ms">
                    <div class="fes7-box-icon">
                      <div class="icon icon-basic-settings"></div>
                    </div>
                    <h3>EASY TO CUSTOMIZE</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 fes9-img-cont clearfix">
              <div class="fes9-img-center clearfix">
                <div class="fes9-img-center">
                  <Image
                    src={mockup1}
                    alt="caca"
                    class="wow fadeInUp"
                    data-wow-delay="450ms"
                    data-wow-duration="1s"
                    loading="lazy"
                  />

                  <Image
                    src={mockup2}
                    alt="caca"
                    class="wow fadeInUp"
                    data-wow-delay="450ms"
                    data-wow-duration="1s"
                    loading="lazy"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="port-view-more-cont-dark">
        <a class="port-view-more-dark" href="contact.html"
          >CONTACT US AND DOWNLOAD THE APP <i class="fa fa-download"></i>
        </a>
      </div>

      <div id="blog-link" class="page-section pt-110-b-30-cont">
        <div class="container">
          <div class="mb-50">
            <h2 class="section-title pr-0">
              GLINSEAL <span class="bold">NEWS</span>
            </h2>
          </div>

          <div class="row">
            <!-- Post Item 1 -->
            <div class="col-md-12 wow fadeIn pb-30">
              <div class="row">
                <div class="col-md-4 blog2-post-title-cont">
                  <div class="post-prev-date-cont">
                    <span class="blog2-date-numb">21</span><span
                      class="blog2-month">October</span
                    >
                  </div>
                  <div class="post-prev-title">
                    <h3>
                      <a href="blog-single-sidebar-right.html"
                        >CONTENEDOR LLEGADO AL PERÚ</a
                      >
                    </h3>
                    <div class="post-prev-info">
                      <a href="#">DESIGN</a><span class="slash-divider">/</span
                      ><a href="https://1.envato.market/a1gQR">JOHN DOE</a>
                    </div>
                  </div>
                </div>

                <div class="col-md-8">
                  <div class="blog2-post-prev-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Suscipit, excepturi modi cupiditate ipsam molestiae eveniet
                    incidunt nostrum atque alias dicta? Quos, quisquam iusto
                    numquam dicta vel voluptatem aperiam voluptas similique!
                  </div>
                </div>
              </div>
            </div>

            <!-- Post Item 2 -->
            <div class="col-md-12 wow fadeIn pb-30">
              <div class="row">
                <div class="col-md-4 blog2-post-title-cont">
                  <div class="post-prev-date-cont">
                    <span class="blog2-date-numb">17</span><span
                      class="blog2-month">August</span
                    >
                  </div>
                  <div class="post-prev-title">
                    <h3>
                      <a href="blog-single-sidebar-right.html"
                        >NUEVO PUERTO EN CHANCAY</a
                      >
                    </h3>
                    <div class="post-prev-info">
                      <a href="#">DESIGN</a><span class="slash-divider">/</span
                      ><a href="https://1.envato.market/a1gQR">JOHN DOE</a>
                    </div>
                  </div>
                </div>

                <div class="col-md-8">
                  <div class="blog2-post-prev-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Suscipit, excepturi modi cupiditate ipsam molestiae eveniet
                    incidunt nostrum atque alias dicta? Quos, quisquam iusto
                    numquam dicta vel voluptatem aperiam voluptas similique!
                  </div>
                </div>
              </div>
            </div>

            <!-- Post Item 3 -->
            <div class="col-md-12 wow fadeIn pb-30">
              <div class="row">
                <div class="col-md-4 blog2-post-title-cont">
                  <div class="post-prev-date-cont">
                    <span class="blog2-date-numb">1</span><span
                      class="blog2-month">August</span
                    >
                  </div>
                  <div class="post-prev-title">
                    <h3>
                      <a href="blog-single-sidebar-right.html"
                        >THE SOUND OF LIFE</a
                      >
                    </h3>
                    <div class="post-prev-info">
                      <a href="#">DESIGN</a><span class="slash-divider">/</span
                      ><a href="https://1.envato.market/a1gQR">JOHN DOE</a>
                    </div>
                  </div>
                </div>

                <div class="col-md-8">
                  <div class="blog2-post-prev-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Suscipit, excepturi modi cupiditate ipsam molestiae eveniet
                    incidunt nostrum atque alias dicta? Quos, quisquam iusto
                    numquam dicta vel voluptatem aperiam voluptas similique!
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- NEWS LETTER -->
      <div id="clients" class="page-section nl-cont">
        <div class="container">
          <div class="row">
            <div class="col-md-12 nl-form-container clearfix">
              <div id="owl-clients" class="owl-carousel our-clients-cont">
                <div class="item">
                  <img
                    src="images/Logo SUNAT FINAL - Junior.png"
                    alt="client"
                  />
                </div>

                <div class="item">
                  <img
                    src="images/logo-hse-seal-final-junior.webp"
                    alt="client"
                  />
                </div>

                <div class="item">
                  <img src="images/Logo E+ FINAL - Junior.png" alt="client" />
                </div>

                <div class="item">
                  <img src="images/Logo SAT FINAL - Junior.png" alt="client" />
                </div>

                <div class="item">
                  <img src="images/logo-indeco-junior.webp" alt="client" />
                </div>

                <div class="item">
                  <img src="images/Logo Multimodal - Junior.png" alt="client" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="page-section p-110-cont">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <div class="cis-cont">
                <div class="cis-icon">
                  <div class="icon icon-basic-map"></div>
                </div>
                <div class="cis-text">
                  <h3><span class="bold">ADDRESS</span></h3>
                  <p>790 FOLSOM AVE, SAN FRANCISCO</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="cis-cont">
                <div class="cis-icon">
                  <div class="icon icon-basic-mail"></div>
                </div>
                <div class="cis-text">
                  <h3><span class="bold">EMAIL</span></h3>
                  <p><a href="mailto:info@haswell.com">INFO@HASWELL.COM</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="cis-cont">
                <div class="cis-icon">
                  <div class="icon icon-basic-smartphone"></div>
                </div>
                <div class="cis-text">
                  <h3><span class="bold">CALL US</span></h3>
                  <p>1-800-312-212, 1-800-311-101</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <Contact />

      <Footer />
    </div>
  </div>
</Layout>
