<div class="main-menu-container">
  <div class="container-m-30 clearfix">
    <div id="main-menu">
      <div class="navbar navbar-default" role="navigation">
        <nav class="collapse collapsing navbar-collapse nav-center">
          <ul id="nav-onepage" class="nav navbar-nav">
            <!-- MENU ITEM -->
            <li class="current">
              <a href="#index-link">
                <div class="main-menu-title">HOME</div>
              </a>
            </li>

            <!-- MENU ITEM -->
            <li>
              <a href="#about" class="scroll-down smooth-scroll">
                <div class="main-menu-title">ABOUT US</div>
              </a>
            </li>

            <!-- MENU ITEM -->
            <li>
              <a href="#partners">
                <div class="main-menu-title">PARTNERS</div>
              </a>
            </li>

            <!-- MENU ITEM -->
            <li>
              <a href="#app-glinseal">
                <div class="main-menu-title">APP GLINSEAL</div>
              </a>
            </li>

            <li>
              <a href="#clients">
                <div class="main-menu-title">CLIENTS</div>
              </a>
            </li>

            <!-- MENU ITEM -->
            <li>
              <a href="#contact">
                <div class="main-menu-title">CONTACT</div>
              </a>
            </li>

            <li class="parent">
              <a href="#">
                <div class="main-menu-title">
                  <i class="fa fa-globe" style="font-size: large;"></i>
                </div>
              </a>

              <ul class="sub">
                <li>
                  <a href="/">SPANISH</a>
                </li>

                <li>
                  <a href="/br">PORTUGUESE</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
