<div id="partners" class="page-section">
  <div class="container fes4-cont">
    <div class="row">
      <div class="col-md-4">
        <div class="mb-20">
          <h2 class="section-title">
            STRATEGIC <span class="bold">PARTNERS</span>
          </h2>
        </div>
      </div>

      <div class="col-md-7">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-5">
            <div class="fes8-box wow fadeIn">
              <a href="https://www.leghornseals.com/es/" target="_blank">
                <img src="./images/Logo Leghorn - Junior.png" loading="lazy" />
              </a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-7 col-md-7">
            <div class="fes8-box wow fadeIn">
              <p>
                Italian company with more than 40 years of experience
                manufacturing high security seals. Currently the seals RFID
                seals Leghorn is operational in some countries of Europe, Asia
                Europe, Asia and America. Leghorn owns three manufacturing
                manufacturing plants in Europe operating under ISO 9001
                management standards. It also holds numerous patents numerous
                patents that position Leghorn as a world leader in the world
                leader in RFID security technologies.
              </p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-5 col-md-5">
            <div class="fes8-box wow fadeIn">
              <a href="https://vmisecurity.com/es/" target="_blank">
                <img src="./images/Logo VMI - Junior.png" />
              </a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-7 col-md-7">
            <div class="fes8-box wow fadeIn">
              <p>
                It is a leading manufacturer of x-ray scanners. Its technology
                is widely used in different countries around the world. Our
                digital solutions allow to provide security to scanned
                containers scanned containers in port terminals and warehouses.
                warehouses. We have a strategic agreement that allows the
                integration of our technologies, increasing cargo security
                levels. cargo security levels.
              </p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-5 col-md-5">
            <div class="fes8-box wow fadeIn">
              <a href="https://vmisecurity.com/es/" target="_blank">
                <img src="./images/Prime Junior.png" />
              </a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-7 col-md-7">
            <div class="fes8-box wow fadeIn">
              <p>
                Brazilian company that develops the most innovative gantry
                automation systems. automation systems. The technological
                innovations it incorporates technological innovations eliminate
                the use of analog documents for the identification of
                identification of vehicles, drivers and loads. Prime's solution
                Prime's solution streamlines terminal entry and exit processes
                and can be easily terminals and can be easily integrated with
                different different appointment systems, generating automatic
                and secure processes.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
