<div id="partners" class="page-section">
  <div class="container fes4-cont">
    <div class="row">
      <div class="col-md-4">
        <div class="mb-20">
          <h2 class="section-title">
            STRATEGIC <span class="bold">PARTNERS</span>
          </h2>
        </div>
      </div>

      <div class="col-md-7">
        <div class="row">
          <div class="col-xs-12 col-sm-7 col-md-7">
            <div class="fes8-box wow fadeIn">
              <a href="https://www.leghornseals.com/es/" target="_blank">
                <img src="./images/Logo Leghorn - Junior.png" loading="lazy" />
              </a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-7 col-md-7">
            <div class="fes8-box wow fadeIn">
              <a href="https://vmisecurity.com/es/" target="_blank">
                <img src="./images/Logo VMI - Junior.png" />
              </a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-7 col-md-7">
            <div class="fes8-box wow fadeIn">
              <a href="https://vmisecurity.com/es/" target="_blank">
                <img src="./images/Prime Junior.png" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
