<div class="page-section grey-light-bg clearfix">
  <div class="fes7-img-cont col-md-6">
    <div class="fes7-img" style="background-image: url(images/personarfid.png)">
    </div>
  </div>

  <div class="container">
    <div
      class="row"
      style="padding-top: 80px; padding-bottom: 80px; padding-left: 250px"
    >
      <div class="col-md-8 col-md-offset-6 fes7-text-cont">
        <h1
          class="section-title"
          style="border-left: white 2px solid; color: white"
        >
          ¿QUE ES LA
          <span class="bold" style="color: white">TECNOLOGÍA RFID</span>?
        </h1>

        <p class="mb-60" style="color: white">
          RFID es un sistema de identificación de productos similar a los
          códigos de barras tradicionales pero que tiene grandes ventajas. A
          diferencia de los códigos de barras, que utilizan imágenes para
          identificar etiquetas adheridas a los productos, RFID utiliza ondas de
          radio para comunicarse con chips electrónicos, que pueden montarse en
          una gran cantidad de medios, como etiquetas o rótulos. un
          transpondedor. Quizás no lo sepas, pero en tu vida diaria puede que
          utilices un sistema con tecnología RFID.
        </p>
      </div>

      <div class="col-md-8 col-md-offset-6 fes7-text-cont">
        <h1
          class="section-title"
          style="border-left: white 2px solid; color: white"
        >
          ¿COMO FUNCIONA LA
          <span class="bold" style="color: white"> TECNOLOGÍA RFID?</span>?
        </h1>

        <p style="color: white">
          Las soluciones RFID incluyen antenas RFID, lectores RFID
          (transceptores) y etiquetas RFID (etiquetas RF). Dependiendo del
          tamaño del almacén y su configuración, puede ser necesario instalar
          arcos de escaneo o puertas RFID. A medida que pasan las mercancías, la
          antena detecta el Tag o etiqueta inteligente y emite una señal al
          lector para autenticar la información contenida en la etiqueta. El
          lector a su vez envía la información al sistema central del cliente
          (ERP), donde los datos se actualizan inmediatamente. Los datos se
          transmiten de forma segura, minimizando posibles errores.
        </p>
      </div>
    </div><!--end of row-->
  </div>
</div>

<div id="work-process-link" class="page-section">
  <div class="container fes4-cont">
    <div class="row">
      <div class="col-md-7">
        <div class="mb-50">
          <h2 class="section-title">
            ¿QUÉ ES UN PRECINTO DE ALTA SEGURIDAD <span class="bold"
              >RFID DE 3 ESTADOS</span
            >?
          </h2>
        </div>
        <p class="mb-50">
          Es un precinto que combina el alto nivel de seguridad mecánica
          ofrecido por ISO17712: cumplimiento de 2013 con la seguridad de la
          transmisión electrónica RFID UHF para tener una identiﬁcación de serie
          unívoca imposible de replicar.
        </p>
      </div>
      <div class="col-md-4">
        <img src="/images/precintos3rfid.png" />
      </div>
    </div>
  </div>
</div>
