<nav class="collapse collapsing navbar-collapse nav-center">
  <ul id="nav-onepage" class="nav navbar-nav">
    <!-- MENU ITEM -->
    <li class="current">
      <a href="#index-link">
        <div class="main-menu-title">INICIO</div>
      </a>
    </li>

    <!-- MENU ITEM -->
    <li>
      <a href="#about" class="scroll-down smooth-scroll">
        <div class="main-menu-title">SOBRE NOSOSOTROS</div>
      </a>
    </li>

    <!-- MENU ITEM -->
    <li>
      <a href="#partners">
        <div class="main-menu-title">ALIADOS</div>
      </a>
    </li>

    <!-- MENU ITEM -->
    <li>
      <a href="#app-glinseal">
        <div class="main-menu-title">APP GLINSEAL</div>
      </a>
    </li>

    <li>
      <a href="#clients">
        <div class="main-menu-title">CLIENTES</div>
      </a>
    </li>

    <!-- MENU ITEM -->
    <li>
      <a href="#contact">
        <div class="main-menu-title">CONTACTO</div>
      </a>
    </li>

    <li class="parent">
      <a href="#">
        <div class="main-menu-title">
          <i class="fa fa-globe" style="font-size: large;"></i>
        </div>
      </a>

      <ul class="sub">
        <li>
          <a href="/en">INGLÉS</a>
        </li>

        <li>
          <a href="/br">PORTUGUÉS</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
