<div class="page-section pt-60">
  <div class="relative">
    <!-- ITEMS GRID -->
    <ul
      class="port-grid display-hover-on-mobile clearfix masonry"
      id="items-grid"
    >
      <!-- Item 1 -->
      <li role="button" class="port-item mix">
        <a href="portfolio-single1.html">
          <div class="port-img-overlay">
            <img class="port-main-img" src="/images/foto4grid.png" alt="img" />
          </div>
        </a>
        <div class="port-overlay-cont">
          <div class="port-title-cont">
            <h3><a href="portfolio-single1.html">MINIMALISM BOOKS</a></h3>
            <span><a href="#">ui elements</a> / <a href="#">media</a></span>
          </div>
          <div class="port-btn-cont">
            <span class="popup-multi-gallery">
              <a
                href="images/portfolio/projects-1.jpg"
                class="lightbox-item mr-20"
                ><div aria-hidden="true" class="icon_search"></div></a
              >
              <a href="images/blog/post-wide-3.jpg"></a>
              <a href="images/blog/post-wide-4.jpg"></a>
              <a href="images/blog/post-wide-5.jpg"></a>
            </span>
            <a href="portfolio-single1.html"
              ><div aria-hidden="true" class="icon_link"></div></a
            >
          </div>
        </div>
      </li>

      <!-- Item 2 -->
      <li role="button" class="port-item mix">
        <a href="portfolio-single1.html">
          <div class="port-img-overlay">
            <img class="port-main-img" src="/images/foto7grid.png" alt="img" />
          </div>
        </a>
        <div class="port-overlay-cont">
          <div class="port-title-cont">
            <h3><a href="portfolio-single1.html">CALENDAR</a></h3>
            <span><a href="#">photography</a> / <a href="#">media</a></span>
          </div>
          <div class="port-btn-cont">
            <span class="popup-multi-gallery">
              <a
                href="images/portfolio/projects-3-big.jpg"
                class="lightbox-item mr-20"
                ><div aria-hidden="true" class="icon_search"></div></a
              >
              <a href="images/blog/post-prev-1.jpg"></a>
              <a href="images/blog/post-prev-2.jpg"></a>
              <a href="images/blog/post-prev-3.jpg"></a>
            </span>
            <a href="portfolio-single1.html"
              ><div aria-hidden="true" class="icon_link"></div></a
            >
          </div>
        </div>
      </li>

      <!-- Item 3 -->
      <li role="button" class="port-item mix">
        <a href="portfolio-single1.html">
          <div class="port-img-overlay">
            <img class="port-main-img" src="/images/foto2grid.png" alt="img" />
          </div>
        </a>
        <div class="port-overlay-cont">
          <div class="port-title-cont">
            <h3><a href="portfolio-single1.html">EYES OF THE CAR</a></h3>
            <span><a href="#">branding</a> / <a href="#">marketing</a></span>
          </div>
          <div class="port-btn-cont">
            <span class="popup-multi-gallery">
              <a
                href="images/portfolio/projects-5-very-big.jpg"
                class="lightbox-item mr-20"
                ><div aria-hidden="true" class="icon_search"></div></a
              >
              <a href="images/portfolio/car-2.jpg"></a>
              <a href="images/portfolio/car-3.jpg"></a>
              <a href="images/portfolio/car-4.jpg"></a>
            </span>
            <a href="portfolio-single1.html"
              ><div aria-hidden="true" class="icon_link"></div></a
            >
          </div>
        </div>
      </li>

      <!-- Item 4 -->
      <li role="button" class="port-item mix">
        <a href="portfolio-single1.html">
          <div class="port-img-overlay">
            <img class="port-main-img" src="/images/foto5grid.png" alt="img" />
          </div>
        </a>
        <div class="port-overlay-cont">
          <div class="port-title-cont">
            <h3><a href="portfolio-single1.html">NOW IS NOW</a></h3>
            <span><a href="#">design</a> / <a href="#">photography</a></span>
          </div>
          <div class="port-btn-cont">
            <span class="popup-multi-gallery">
              <a
                href="images/portfolio/projects-6-big.jpg"
                class="lightbox-item mr-20"
                ><div aria-hidden="true" class="icon_search"></div></a
              >
              <a href="images/portfolio/projects-6.jpg"></a>
              <a href="images/portfolio/projects-6-box.jpg"></a>
              <a href="images/portfolio/projects-8.jpg"></a>
            </span>
            <a href="portfolio-single1.html"
              ><div aria-hidden="true" class="icon_link"></div></a
            >
          </div>
        </div>
      </li>

      <!-- Item 5 -->
      <li role="button" class="port-item mix">
        <a href="portfolio-single1.html">
          <div class="port-img-overlay">
            <img class="port-main-img" src="/images/foto6grid.png" alt="img" />
          </div>
        </a>
        <div class="port-overlay-cont">
          <div class="port-title-cont">
            <h3><a href="portfolio-single1.html">EYES OF THE CAR</a></h3>
            <span><a href="#">ui elements</a> / <a href="#">media</a></span>
          </div>
          <div class="port-btn-cont">
            <span class="popup-multi-gallery">
              <a
                href="images/portfolio/projects-2-big.jpg"
                class="lightbox-item mr-20"
                ><div aria-hidden="true" class="icon_search"></div></a
              >
              <a href="images/portfolio/projects-9.jpg"></a>
              <a href="images/portfolio/projects-10.jpg"></a>
              <a href="images/portfolio/projects-11.jpg"></a>
            </span>
            <a href="portfolio-single1.html"
              ><div aria-hidden="true" class="icon_link"></div></a
            >
          </div>
        </div>
      </li>

      <!-- Item 6 -->
      <li role="button" class="port-item mix">
        <a href="portfolio-single1.html">
          <div class="port-img-overlay">
            <img class="port-main-img" src="/images/foto3grid.png" alt="img" />
          </div>
        </a>
        <div class="port-overlay-cont">
          <div class="port-title-cont">
            <h3><a href="portfolio-single1.html">LOVE</a></h3>
            <span><a href="#">branding</a> / <a href="#">media</a></span>
          </div>
          <div class="port-btn-cont">
            <span class="popup-multi-gallery">
              <a
                href="images/portfolio/projects-4.jpg"
                class="lightbox-item mr-20"
                ><div aria-hidden="true" class="icon_search"></div></a
              >
              <a href="images/blog/post-prev-4.jpg"></a>
              <a href="images/blog/post-prev-5.jpg"></a>
              <a href="images/blog/post-prev-6.jpg"></a>
            </span>
            <a href="portfolio-single1.html"
              ><div aria-hidden="true" class="icon_link"></div></a
            >
          </div>
        </div>
      </li>

      <!-- Item 7 -->
      <li role="button" class="port-item mix">
        <a href="portfolio-single1.html">
          <div class="port-img-overlay">
            <img class="port-main-img" src="/images/foto1grid.png" alt="img" />
          </div>
        </a>
        <div class="port-overlay-cont">
          <div class="port-title-cont">
            <h3><a href="portfolio-single1.html">YELLOW BOOK</a></h3>
            <span><a href="#">design</a> / <a href="#">media</a></span>
          </div>
          <div class="port-btn-cont">
            <span class="popup-multi-gallery">
              <a
                href="images/portfolio/projects-7.jpg"
                class="lightbox-item mr-20"
                ><div aria-hidden="true" class="icon_search"></div></a
              >
              <a href="images/portfolio/projects-12.jpg"></a>
              <a href="images/portfolio/projects-13.jpg"></a>
              <a href="images/portfolio/projects-14.jpg"></a>
            </span>
            <a href="portfolio-single1.html"
              ><div aria-hidden="true" class="icon_link"></div></a
            >
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
